In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Q9_a.csv')

In [4]:
df.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [5]:
df=df.set_index('Index')

In [7]:
df.head()

       speed  dist
Index
1          4     2
2          4    10
3          7     4
4          7    22
5          8    16

In [8]:
df.skew()

speed   -0.117510
dist     0.806895
dtype: float64

In [9]:
df.kurt()

speed   -0.508994
dist     0.405053
dtype: float64

In [10]:
from scipy import stats

In [12]:
import numpy as np

In [13]:
import numpy as np

In [15]:
conf_94=stats.norm.interval(0.94,200,30/np.sqrt(2000))
np.round(conf_94,0)

array([199., 201.])

In [16]:
dff=pd.read_csv('Cars (1).csv')

In [17]:
dff.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [18]:
dff['MPG'].mean()

34.422075728024666

In [22]:
prob_38=1-stats.norm.cdf(38,dff['MPG'].mean(),dff.MPG.std())
prob_38

0.3475939251582705

In [26]:
prob_40=stats.norm.cdf(40,dff.MPG.mean(),dff.MPG.std())
prob_40

0.7293498762151616

In [27]:
prob_20_50=stats.norm.cdf(0.50,dff.MPG.mean(),dff.MPG.std())-stats.norm.cdf(0.20,dff.MPG.mean(),dff.MPG.std())    
prob_20_50

1.2430968797327613e-05